:host {
    //background-color: transparent;
    display: block;
    //border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .card {
    width: 150px;
    height: 200px;
    position: relative;
    // width: 100%;
    // height: 100%;
    //text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
//   .flip-card:active .flip-card {
//     transform: rotateY(180deg);
//   }
  
  /* Position the front and back side */
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-frontface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  img {
      width: 100%;
      height: 100%;
  }
  
  /* Style the front side (fallback if image is missing) */
  .front {
    // background-color: #bbb;
    // color: black;
    transform: rotateY(180deg);
  }
  
  /* Style the back side */
  .back {
    // background-color: dodgerblue;
    // color: white;
    // transform: rotateY(180deg);
  }