header {
    width: 100%;
    height: 50px;
    background-color: rgb(66, 156, 215);
}

h1 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}

.header {
    position: relative;
}

p {
    text-align: center;
    font-size: 1.5rem;
    margin: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 20px;
    justify-content: center;
}

button {
    position: absolute;
    right: 10%;
    top: 0;
}

@media screen and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 150px);
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 680px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap: 20px;
        justify-content: center;
    }
}